# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Study\大三上\计算机\信息检索\hws\hw4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Created by .ignore support plugin (hsz.mobi)
hw4/dev_output/
dev_queries/
output_dir/
tmp/
toy-data/
toy_output_dir/
venv/
.idea/
out
gen
*.zip
